* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

/* inizio nav */
nav > * {
    border: 1px dashed red;

}

nav {
    border: 2px solid blue;
    background-color: rgb(133, 192, 24);
    /* test */
    display: flex;
    justify-content: space-between;
    padding: 18px 10px;

}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 23px;
}

/* fine nav */


/* inizio jumbo */

.jumbotron {
    background-color: aqua;
    /* test */

   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding: 50px 0px;
   display: flex;
   flex-direction: column;
   align-items: center;

}

.jumbotron .titolo {
    display: flex;
    justify-content: center;
    width: 300px;
    padding-bottom: 20px;
    background-color: bisque;
}

.description {
    width: 1000px;
    /* test */
    display: flex;
}

.text {
    background-color: #1e90ff;
    border: dashed 2px black;
    /* test */
}

.img {
    background-color: forestgreen;
    height: 400px;
    flex-grow: 1;
    border: dashed 2px black;

}

/* fine jumbo */

/* inizio sez.1 */
.plan {
    background-color: cadetblue;
    /* test */
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;

    padding-top: 80px;
    gap: 25px;
}

.first {
    /* width: 1000px; */
    height: 500px;

    display: flex;
    justify-content: center;
}

.plan .columns {
    display: flex;
    gap: 30px;

    justify-content: center
}

.columns, .row {
    border: 2px solid green;
    background-color: coral;
    display: flex;
    justify-content: flex-start
}

/* fine sez.1 */


/* inizio sez.2 */

.partner {
    display: flex;

    width: 1000px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 50px;
}

.img2, .text2 {
    height: 250px;
    flex-grow: 1;
}

.img2 {
    background-color: blueviolet;
}

.text2 {
    background-color: yellow;
}

/* fine sez.2 */


