* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    min-height: 100px;

    /* test */
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* inizio nav */

nav {
    background-color: rgb(255, 255, 255);
    
    display: flex;
    justify-content: space-between;
    
    padding: 28px 20px;

}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 38px;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: #0061ff;

    padding: 10px 16px;
}

/* fine nav */


/* inizio jumbo */

header {
    background-color: #b4d0e7;

    margin-bottom: 150px;
   

}

h1 {
    font-size: 60px;
    margin-bottom: 60px;
}


.jumbotron {

   position: relative;
   bottom: -65px;


   width: 1200px;
   margin-left: auto;
   margin-right: auto;

}


header .description {

    display: flex;
}

.jumbotron .description .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;

    width: 30%;
    
}

.jumbotron .description .text .fa-solid {
    margin-top: 40px;
    font-size: 46px;
}


.jumbotron .description .image {
    width: 70%;

}

.jumbotron .description .image img {
    width: 100%;
}


/* fine jumbo */

/* inizio sez.1 */

.business-plans {
     
    margin-bottom: 150px;
}

.business-plans .subtitle {
    padding-bottom: 60px;
}


h2 {
    font-size: 30px;
}



.business-plans .fatturazione-check  {
    padding-bottom: 46px;
}



.col .user h3 {
    font-size: 13px;
}


.type .btn a {
    color: white;
    text-decoration: none;
}

.type .btn {
    padding: 15px 37px ;
}

.row .col .user {
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    padding: 12px 0px ;
    
}

.business-plans .row {
    display: flex;
    justify-content: space-between;
}

.business-plans .col {
    width: calc(100% / 3 - 50px / 3 * 2);
}

.row .col .type {
    border: 1px solid grey;

    padding-right: 18px;
    padding-left: 15px;

    height: 100%;

}

.type p a {
    color: #6544f0;
}



.type .highlights h3 {
    padding-top: 65px;
    font-size: 13px;
    
}


.col .type .plantype{
    padding-top: 35px;
    padding-bottom: 22px ;
}

.col .type .price .month {
    color: gray;
    padding-bottom: 53px;
    padding-top: 22px ;
}


.col .characteristics :nth-child(3) {
    padding-bottom: 50px;
}

.characteristics p {
    padding-bottom: 25px;
}

.icon {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
}

.fa-solid {
    padding-right: 5px;
}

.buynow {
    padding-top: 32px;
}

.bottom-col {
    display: flex;
    flex-direction: column;
}
.divdx {
    border: 1px solid red;
}

.divsx {
    display: flex;
    
    border: 1px solid red;
}
.bottom-col .team  {
    border: 1px solid gray;
    display: flex;
    justify-content: center;
}








/* fine sez.1 */


/* inizio sez.2 */

.partner {
    display: flex;

    width: 1000px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 50px;
}

.img2, .text2 {
    height: 250px;
    flex-grow: 1;
}

.img2 {
    background-color: blueviolet;
}

.text2 {
    background-color: yellow;
}

/* fine sez.2 */

/* inizio sez.3 */
.third{

    padding-top: 25px;

}
.info {
    background-color: lightslategray;
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.info div {
    border: 2px dashed red;
    /* test */

    height: 200px;
    width: calc(1000px / 3);
    
}

.operazioni {
    background-color: azure;

    display: flex;
    justify-content: center ;

    padding-bottom: 20px;
}

/* fine sez. 3 */

/* inizio sez. 4 */


.more {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: violet;
    height: 250px;
    /* test */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 50px;


}

/* fine sez. 4 */

/* inizio sez. 5 */
.fifth {
    margin-top: 30px;
    /* test */
    display: flex;
}

.left-div, .right-div {
    display: flex;
    flex-wrap: wrap;
    
}

.middle-div {
    border: 2px solid black;
    /* test */
    overflow-y: scroll;
}

.left-div div, .right-div div {
    border: 2px solid red;
    /* test */
    width: 50%;
}

.left-div, .middle-div, .right-div {
    height: 500px;
    /* test */
    flex-grow: 1;
}
 /* fine sez. 5 */

 /* inizio sez.6 */


 .freetrial {
    background-color: burlywood;
    border: 1px solid red;
    height: 300px;
    /* test */
    
    margin-top: 30px;

    width: 1000px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    
 }

.freetrial  div{
    border: 1px dashed black;
    /* test */
}

/* fine sez. 6 */


/* inizio sez. 7 */

.faq {
    background-color: cyan;
    height: 300px;

    margin-top: 40px;

    width: 1000px;
    margin-left: auto;
    margin-right: auto;


}

/* fine senz. 7 */

/* inizio footer */


.top-footer {
    background-color: yellowgreen;

    margin-top: 30px;

    width: 1200px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;

    padding-bottom: 50px;
    
}




footer ul {
    border: 1px solid black;
    /* test */
    
    
}

footer  ul li {
    list-style-type: none;

    margin: 5px 0px ;
}


.language {
    background-color: darkorange;
    height: 50px;
    border: 1px solid black;
    /* test */
    padding-top: 20px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


/* fine footer */
