* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

/* inizio nav */
nav > * {
    border: 1px dashed red;

}

nav {
    border: 2px solid blue;
    background-color: rgb(133, 192, 24);
    /* test */
    display: flex;
    justify-content: space-between;
    padding: 18px 10px;

}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 23px;
}

/* fine nav */


/* inizio jumbo */

.jumbotron {
    background-color: aqua;
    /* test */

   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding: 50px 0px;
   display: flex;
   flex-direction: column;
   align-items: center;

}

.jumbotron .titolo {
    display: flex;
    justify-content: center;
    width: 300px;
    padding-bottom: 20px;
    background-color: bisque;
}

.description {
    width: 1000px;
    /* test */
    display: flex;
}

.text {
    background-color: #1e90ff;
    border: dashed 2px black;
    /* test */
}

.img {
    background-color: forestgreen;
    height: 400px;
    flex-grow: 1;
    border: dashed 2px black;

}

/* fine jumbo */

/* inizio sez.1 */
.first {
    height: 500px;

    display: flex;
    justify-content: center;
}
.plan {
    background-color: cadetblue;
    /* test */
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;

    padding-top: 80px;
    gap: 25px;
}


.plan .columns {
    display: flex;
    gap: 30px;

    justify-content: center
}

.columns, .row {
    border: 2px solid green;
    background-color: coral;
    display: flex;
    justify-content: flex-start
}

/* fine sez.1 */


/* inizio sez.2 */

.partner {
    display: flex;

    width: 1000px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 50px;
}

.img2, .text2 {
    height: 250px;
    flex-grow: 1;
}

.img2 {
    background-color: blueviolet;
}

.text2 {
    background-color: yellow;
}

/* fine sez.2 */

/* inizio sez.3 */
.third{

    padding-top: 25px;

}
.info {
    background-color: lightslategray;
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.info div {
    border: 2px dashed red;
    /* test */

    height: 200px;
    width: calc(1000px / 3);
    
}

.operazioni {
    background-color: azure;

    display: flex;
    justify-content: center ;

    padding-bottom: 20px;
}

/* fine sez. 3 */

/* inizio sez. 4 */


.more {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: violet;
    height: 250px;
    /* test */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 50px;


}

/* fine sez. 4 */

/* inizio sez. 5 */
.fifth {
    margin-top: 30px;
    /* test */
    display: flex;
}

.left-div, .right-div {
    display: flex;
    flex-wrap: wrap;
    
}

.middle-div {
    border: 2px solid black;
    /* test */
    overflow-y: scroll;
}

.left-div div, .right-div div {
    border: 2px solid red;
    /* test */
    width: 50%;
}

.left-div, .middle-div, .right-div {
    height: 500px;
    /* test */
    flex-grow: 1;
}
 /* fine sez. 5 */

 /* inizio sez.6 */


 .freetrial {
    background-color: burlywood;
    border: 1px solid red;
    height: 300px;
    /* test */
    
    margin-top: 30px;

    width: 1000px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    
 }

.freetrial  div{
    border: 1px dashed black;
    /* test */
}

/* fine sez. 6 */


/* inizio sez. 7 */